h1{text-align: center}
h3{text-align: center}
h2{text-align: center}
p{text-align: center}
span {
    text-align: center;}
button {display:block;
    margin: center;}

.dropdown {
    text-align: center;
}
